body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center everything vertically */
    height: 100vh;
}

header {
    background-color: #333;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    order: -1; /* Moves the header to the top */
}

nav {
    display: block;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    margin: 20px;
    padding: 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Occupy full height */
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
    align-items: center;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}